*{
  margin: 0%;
  z-index: 0; /** mettre tous les element au niveau 0**/
}
body{
  background-color: rgba(112, 134, 199, 0.9)
}
nav{
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0%;/**pour qu'il soit en haut**/
  z-index: 1;/** mettre la barre de navigation au niveau 1 pour que='elle soit sur le reste**/
  background-color: rgba(45, 61, 109, 0.9);
}
#titre{
  height: 70px;
  display: flex;
  justify-content: center;
}
.icon{
  cursor: pointer;
  height: 10px;
  width: 45%;
  padding: 10px;
}
.bar{
  width: 30px;
  height: 5px;
  background-color: rgba(186, 192, 209, 0.9);
  margin: 5px;
  transition: 0.4s;
}
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
}
.menu li{
  padding: 15px;
  text-align: center;
}
.menu a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.menu h2{
  color: #fff;
  font-size: 20px;
}
.menu.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  left:0;
  width: 100%;
  background-color: rgba(52, 76, 150, 0.9);
}
header{
  margin-top: 70px;/**laisser la place a la navigation**/
}
.imag{
  height: 300px
}
swiper-container {
  width: auto;
}
swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  align-items:center;
  flex-direction: column;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main{
  display: flex;
  margin: 5%;
  align-items: center;
}
#poisson{
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}
#description{
  width: 50%;
  padding:5%;
  background-color: rgba(52, 76, 150, 0.9);
}
.carousel{
  height:150px;
  width:fit-content;
}
footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  padding: 5px;
}
.createur{
  width: fit-content;
  height: 120px;
}